/* ------------------- RESET ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  background-color: #f3f3f3;
  color: #222;
}

/* ------------------- ESTRUCTURA ------------------- */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- HEADER ------------------- */
header {
  background-color: #55b4a4;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12);
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-area {
  display: flex;
  align-items: center;
  gap: 12px;
}


.logo-text {
  font-size: 22px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.nav-links a {
  opacity: 0.9;
}

.nav-links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.profile-circle {
  width: 36px;
  height: 36px;
  background: #8fd1c7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------- FORMULARIO ------------------- */
.content-wrapper {
  max-width: 600px;
  margin: 32px auto;
  padding: 16px;
}

.card {
  background: #f7f7f7;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.card-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #0b7a68;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

label {
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  background: #fafafa;
  font-size: 14px;
}

input::placeholder,
textarea::placeholder {
  color: #c0c0c0;
}

textarea {
  min-height: 90px;
  resize: vertical;
}

.btn-submit {
  align-self: center;
  margin-top: 12px;
  padding: 10px 50px;
  border-radius: 24px;
  background: #8fb7e7;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-submit:hover {
  filter: brightness(1.05);
}

.info-extra {
  margin-top: 22px;
  font-size: 14px;
  line-height: 1.5;
}

/* ------------------- FOOTER ------------------- */
footer {
  background-color: #55b4a4;
  color: #fff;
  padding: 10px 24px;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-name {
  font-size: 18px;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #8fd1c7;
  opacity: 0.95;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  color: #022933;
  font-size: 14px;
}


/* ------------------- RESPONSIVE ------------------- */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
